body{
	font-family: arial, sans-serif;
	font-size: xx-small;
}

.header{
	vertical-align: middle;
	height:59px;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgb(239,239,239);
	min-width: 980px;
	margin-left: -7px;
	border-bottom: 1px rgb(221,221,221)
}

#search img, form{
	margin: 9px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: left;
}


button{
	background-image: url("images/question.png");
	display: inline;
	vertical-align: bottom;
	margin-left: -4px;
	width: 62px;
	height: 28px;
	border-style: none;
}

#quicklinks{
	float: right;
}
nav a{
	margin: 9px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	color: black;
}

a #profile{
	border-radius: 100%;
	width: 35px;
}

#enter{
	background-image: url("images/mic.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 14px 19px;
	line-height: 22px;
	width: 590px;
	display: inline-block;
	margin-top: 5px;
	margin-right:0;
}

#submit input{
	height: 30px;
	background-color: #f5f5f5;
	margin-right: 9px;
	border: 1px solid rgb(212,212,212);
	border-radius: 2px;
}


#footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgb(239,239,239);
	min-width: 980px;
	margin-left: -7px;
	border-top: 1px rgb(221,221,221)
}
#footer a{
	font-size: small;
	color: rgb(90,90,90);
}

#left{
	display: inline-block;
	float: left;
}
#right{
	display: inline-block;
	float: right;
}

a:hover{
	text-decoration: underline;
}