header{
	background-color: rgb(237, 237, 237);
	border-bottom: 2px rgb(223,223,223);
	vertical-align: middle;
	padding:15px 15px 15px 10px;
}
.search-bar{
	display:inline;
	vertical-align: middle;
	height: 30px;
	margin: 0;
}
.search-bar img{
	display: inline;
	vertical-align: middle;

}
.search-bar form{
	display: inline;
	vertical-align: middle;
	margin: 0
}

.search-bar input{
	font-size: 18px;
	width:590px;
	line-height: 25px;
	margin-right: 0;
	background: white url(images/mic.png) center right no-repeat;
}
.search-bar button{
	vertical-align: middle;
	padding:0;
	margin: -7px;
	height: 30px;
	border:20px rgb(43, 27, 222);
}

.google-apps{
	float: right;
	padding-right: 20px
}
.google-apps #profile{
	border-radius: 100%;
}
.google-apps a{
	padding-right: 15px;
	vertical-align: middle;
	font-size: 13px;
	font-family: arial, sans-serif;
	text-decoration: none;
}